@import "../../../index.less";
.menu div {
    text-align: center;
}
.menu .mvertical {
    padding: 20px;
}

.menu .mhorizontal{
    display: inline-block;
    padding: 20px;
 }

.menu > div:hover {
    cursor: pointer;
    text-shadow: 0 0 7px @colorWhite;
    background: @colorMainDeep;
}