@import "../../../index.less";
.menu div {
    text-align: center;
    vertical-align: bottom;
    padding: 20px;
    line-height:30px;
}
.menu .title {
    font-size: 28px;
}

.menu .mhorizontal{
    display: inline-block;
 }
 
.menu > .item:hover {
    cursor: pointer;
    color: @colorFontOver;
    background: @colorMainDeep;
}