@import "../../../index.less";
.layout {
    width: @fullWidth;
    height: @fullHeight;
    background: @colorWhite;
}

.layout  .lycommon {
    display: inline-block;
}
.layout  .sider {
    width: 15%;
    border-right: solid 1px @colorMain;
}
.layout  .container {
    width: 85%;
}
