<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="{{'ENTER_USERNAME' | translate}}" id="username" ng-model="username"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="{{'ENTER_PWD' | translate}}" id="user.pwd" ng-model="pwd"></div>
        <label ng-if="showLoginErrorTips" class="text-color-error">{{"USERNAME_PWD_ERROR" | translate}}</label>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" ng-click="login()" >{{"LOGIN" | translate}}</button></div><a href="#" class="forgot">Forgot your email or password?</a>
    </form>
</div>