*{
    box-sizing: border-box;
    // 一下是颜色平滑切换样式
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
//主题1
// @colorMain: rgb(38, 150, 72);
// @colorMainDeep: rgb(49, 175, 87);
// @colorBlack: rgb(3, 27, 10);
// @colorWhite: rgb(206, 247, 218);

//主题2
// @colorMain: rgb(51,51,51); //导航栏背景
// @colorMainDeep: rgb(71,71,72); //菜单移动背景色&以及按钮默认背景
// @colorFontOver: rgb(255,255,255); //菜单移动背景色
// @colorButtonOver:rgb(24,25,23);// 按钮鼠标以上背景颜色
// @colorWhite: rgb(30,30,30); //主背景
// @colorFont: rgb(72,72,72); //主体字体颜色
// @colorFontSelect: rgb(255,255,255); //选中或突出字体颜色

//门户网站主题
@colorMain: rgb(255,255,255); //导航栏背景
@colorMainDeep: rgb(36,73,129); //菜单移动背景色&以及按钮默认背景
@shadowTran: 0 8px 16px 0 rgba(36,73,129,0.3); //元素边缘透明阴影
@boderTran:1px solid  rgba(36,73,129,0.2);//透明边框
@colorFontOver: rgb(255,255,255); //菜单移动背景色
@colorButtonOver:rgb(24,25,23);// 按钮鼠标以上背景颜色
@colorWhite:  rgb(255,255,255); //主背景
@colorFont: rgb(72,72,72); //主体字体颜色
@colorFontSelect: rgb(255,255,255); //选中或突出字体颜色

@fullWidth:100%;
@fullHeight:100%;

body {
    font-size: 14px;
    color:@colorFont
}
body .main{
    position: fixed;
    top: 0;
    left: 0;
    width: @fullWidth;
    height: @fullHeight;
    overflow-x:hidden;
    overflow-y:scroll;

}