*{
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
@colorMain: rgb(38, 150, 72);
@colorBlack: rgb(3, 27, 10);
@colorWhite: rgb(206, 247, 218);
@fullWidth:100%;
@fullHeight:100%;
